<!DOCTYPE html>
<html>
<head>
  <title>Daytrip</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag '/assets/javascripts/oauth-1.0a.js' => true %>
  <%= csrf_meta_tags %>

	<script type='text/javascript' src='http://code.jquery.com/jquery-1.7.1.js'></script>
  <!--<script type='text/javascript' src="http://maps.google.com/maps/api/js?sensor=false&.js"></script>-->
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places,visualization&v=3.exp"></script>
  <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.3/angular.min.js'></script>
  <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-sha1.js"></script>
  <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/enc-base64-min.js"></script>
  <!--<script src="http://pajhome.org.uk/crypt/md5/sha1.js"></script>-->
  <script src="http://oauth.googlecode.com/svn/code/javascript/sha1.js"></script>
  <script src="http://oauth.googlecode.com/svn/code/javascript/oauth.js"></script>
  <!--<script src="app/assets/javascripts/oauth-1.0a.js"></script>-->
</head>

<body>





<%= yield %>

</body>
</html>
